/* Oswald Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
/* OpenSans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3, 
h4, 
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.1;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color: #343434;
    background-color: #ffc401;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    padding: 12px 25px;
    text-decoration: none;
    transition: all .4s ease-in-out;
    line-height: 20px;
}

.button:hover {
    background-color: #e0ac00;
    color: #fff;
}

.grey-button {
    background-color: #333333;
    color: #FFF;
}

.grey-button:hover {
    background-color: #151515;
}

#header .navbar {
    background: rgba(30, 30, 30, 0.45);
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#header .logo {
    float: left;
    padding-top: 20px;
}

#header .navigation {
    float: right;
}

#header .navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#header .navigation > ul > li > a {
    display: block;
    padding: 0 15px;
    font-weight: 700;
    color: #FFF;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
}

#header .navigation > ul > li > a.active {
    color: rgb(162, 0, 255);
}

#header .navigation > ul > li > a:hover {
    color: rgb(162, 0, 255);
}

#intro {
    background-color: rgb(162, 0, 255);
    background-image: url('../img/pattern.png');
    min-height: 100vh;
    padding-top: 190px;
    padding-bottom: 140px;
}

#intro .intro-left,
#intro .intro-right {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

#intro .intro-text h2 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 75px;
    line-height: 85px;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 15px;
}

#intro .intro-text h3 {
    color: #fff;
    font-size: 34px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
}

#intro .intro-text p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

#about {
    padding-top: 80px;
    padding-bottom: 120px;
}

#about .section-heading {
    text-align: center;
}

#about .section-heading h3 {
    color: #222;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#about .section-heading h2 {
    color: #222;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

#about .section-heading h2 span {
    border-bottom: 2px solid #ffc401;
    display: inline-block;
    padding-bottom: 15px;
}

#about .about-left,
#about .about-right {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

#about .about-left {
    width: 58.33333333%;
}

#about .about-right {
    width: 41.66666667%;
}

#about .tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#about .tabs ul li {
    border-right: 1px solid rgb(129, 129, 129);
}

#about .tabs ul li a {
    display: block;
    color: #222;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 25px;
}

#about .tabs ul li:first-child a {
    padding-left: 0;
}

#about .tabs ul li:last-child {
    border-right: none;
}

#about .tabs ul li.active a {
    color: #ffc400;
}

/*#about .tabs ul li:nth-child(1)*/
/*#about .tabs ul li:nth-child(2n)*/

#about .tabs .tab-content {
    font-size: 16px;
    line-height: 28px;
}

#services {
    padding-bottom: 80px;
}

#services .top-img {
   max-width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 0px;
   text-align: center;
}

#services .box-left h4 {
    padding-top: 30px;
    color: #222;
    font-size: 20px;
    font-weight: 400;
    font-family:  sans-serif;
}

#services .box-right h4{
    padding-top: 30px;
    color: #222;
    font-size: 20px;
    font-weight: 400;
    font-family:  sans-serif;
}

#services .box-left .fas,
#services .box-right .fas {
    padding-right: 15px;
}

#services .box-left,
#services .box-right {
    float: left;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    columns: 2;
}

#services .tab-buttons {
    display: block;
    text-transform: uppercase;
    color: #343434;
    font-size: 16px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    transition: all .4s ease-in-out;
    line-height: 20px;
}

#about-1 {
background-color: #f5f5f5;
border-top: 1px solid #eee;
padding-top: 80px;
padding-bottom: 80px;
}

#about-1 .img-left {
    display: block;
    float: left;
    margin-bottom: 100px;
    max-width: 100%;
    height: auto;
    padding: 0px 15px;
}

#about-1 .content {
    box-sizing: border-box;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    line-height: 28px;
}

#about-1 .content .panel-title {
    color: #222;
    font-size: 20px;
    font-family:  sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #b8b8b8;
    display: table;
    padding-top: 15px;
    padding-bottom: 8px;
}

#about-1 .content h5 span {
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 10px;
    color: #222;
    font-size: 20px;
    font-family:  sans-serif;
    font-weight: 400;
}

#about-1 .content h5 span:hover {
    color: rgb(223, 166, 9);
    background: transparent;
    cursor: pointer;
}

#about-1 .content .fa-check {
    color: #ffc401;
    font-size: 30px;
    padding-right: 15px;
}

#features .section-heading h3 {
    color: white;
    font-size: 24px;
    font-weight: 300px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#features .section-heading h2 {
    color: white;
    font-size: 40px;
    font-weight: 400px;
    text-transform: uppercase;
}
#features .section-heading h2 span {
    border-bottom: 2px solid #f3ef00;
    color: white;
    display: inline-block;
    padding-bottom: 15px;
}
#features .section-heading {
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 60px;
}
#features {
    background-image: url(../img/features.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;
    padding-top: 20px;
    padding-bottom: 40px ;
    height: 100vh;
}
#features .left-features {
    width: 50%;
    float: left;
    display: block;
   
}
#features .icon {
    box-sizing: border-box;
    color: #f3ef00;
    float: left;
    font-size: 50px;
}
#features .content {
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    padding-left: 30px;
}
#features .content p {
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding-right: 20px;
}
#features .feature-box {
    padding-bottom: 40px;
}
#history {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
#history .row {
    margin-bottom: 60px;
}
#history .row h2 {
    color: #222;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: -15px;
    margin-right: -15px;
}
#history .row h2::after {
    display: block;
    content: "";
    height: 2px;
    width: 120px;
    background: #ffc400;
    margin: 15px auto;
    position: relative;
}
#history .timeline-year span {
    background-color: #ffc400;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
}
#history .timeline-year {
    padding-bottom: 30px;
    padding-top: 30px;
}
#history .timeline-year:first-child {
    padding-top: 0px;
}
#history .timeline-item {
    display: table;
    position: relative;
    z-index: 1;
}
#history .timeline-header {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
#history .timeline-text {
    margin-bottom: 10px;
    color: black;
    text-align: left;
}
#history .timeline-item:before {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid grey;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    box-sizing: border-box;
}
#history .timeline-item:hover.timeline-item:before {
    background-color: #ffc400;
    border-color:#ffc400;
}
#history .timeline-box {
    float: left;
    width: 41.6666666%;
    padding: 20px 20px ;
    border: 1px ;
    background-color: rgb(207, 206, 206);
}
#history .timeline-box-right {
    float: right;
    width: 41.6666666%;
    padding: 20px 20px ;
    border: 1px ;
    background-color: rgb(207, 206, 206);
}
#history .history-linedown {
    width: 1000px;
    height: 1px;
    border-bottom: 2px solid rgb(240, 240, 240);
    position: relative;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    top: 500px;
    transform: rotate(90deg);
    z-index: -1;
}
#history .timeline-item:hover .timeline-box {
    background-color: rgb(22, 18, 18);
    color: white;
}
#history .timeline-item:hover .timeline-box p {
    background-color: rgb(22, 18, 18);
    color: white;
}
#history .timeline-item:hover .timeline-box-right {
    background-color: rgb(22, 18, 18);
    color: white;
}
#history .timeline-item:hover .timeline-box-right p {
    background-color: rgb(22, 18, 18);
    color: white;
}
#stats {
    background-image: url(../img/statistic-banner.jpg);
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
#stats .container {
    text-align: center;
}
#stats .stats-heading {
    margin-bottom: 60px;
}
#stats .stats-heading h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#stats .stats-heading h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}
#stats .stats-heading h2:after {
    display: block;
    content: "";
    height: 2px;
    width: 200px;
    background: yellow;
    margin: 15px auto;
    position: relative;
}
#stats .stats-column {
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
}
#stats .stats-number {
    color: #fff;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 20px;
}
#stats .stats-text {
    color: #fff;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

#contact-us {
    background-image: url('../img/contacts.jpg');
    height: 100vh;
    padding: 80px 0 100px;
    background-position: center top;
    box-shadow: 0 0 100vw 100vw inset rgb(0 0 0 / 60%);
}

#contact-us h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    margin-bottom: 84px;
}

#contact-us h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -19px;
    transform: translateX(-50%);
    width: 201px;
    height: 2px;
    background: #ffc401;
}

#contact-us h3 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 5px;
}

#contact-us .contact-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

#contact-us .contact-form fieldset {
    width: 100%;
    border: none;
    padding: 0 15px;
    margin: 0 0 19px;
}

#contact-us .contact-form fieldset input {
    width: 100%;
    background: rgba(255,255,255,.1);
    border: 1px solid #383738;
    font-size: 15px;
    padding: 16px 12px;
    color: #fff;
}

#contact-us .contact-form fieldset textarea {
    width: 100%;
    height: 200px;
    background: rgba(255,255,255,.1);
    border: 1px solid #383738;
    font-size: 15px;
    color: #fff;
    padding: 6px 12px;
}

#contact-us .contact-form fieldset input:focus {
    border: none;
    outline: none;
}

#contact-us .button-row {
    justify-content: center;
    margin-top: 17px;
}
#contacts {
    height: 100vh;
    padding: 50px 0 50px 20px;
}

#contacts h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    margin-bottom: 84px;
}

#contacts h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -19px;
    transform: translateX(-50%);
    width: 201px;
    height: 2px;
    background: #ffc401;
}

#contacts h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 5px;
}


#contacts .contacts-row {
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}


#contacts .contacts-row h4 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

#contacts .contacts-row p {
    text-align: center;
}

#contacts .contacts-row .icon {
    box-sizing: border-box;
    text-align: center;
    color: rgb(241, 219, 13);
    font-size: 50px;
}